/* DEFAULT HTML ELEMENT STYLES */

body {
    background-image: url("https://i.ytimg.com/vi/9TlmBmMonIc/maxresdefault.jpg");
}

body,
p,
span {
    font-family: 'Fira Code', monospace;
}

a {
    color: #F5E96F;
    text-decoration: none;
}

a:hover {
    color: #7EF2F1;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
li {
    font-family: 'Press Start 2P', monospace;
}

h1,
h2,
h3,
h4,
h5 {
    display: block;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 800px;
    margin: 30px auto;
}

.profile {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
}

.profile img {}

.columns {
    display: flex;
    flex-direction: row;
}

.tabs {
    margin: 0 0 50px 0;
    background-color: white;
    border-radius: 10px;
}

.nav {
    width: 100%;
}

ul {
    display: inline-flex;
}

li {
    margin: 20px 20px;
}

.bottom {
    margin: 50px auto;
}

.column-left {
    width: 50%;
}

.column-right {
    width: 50%;
}

.columns {
    justify-content: center;
}

.project {
    width: 20%;
    margin: 0 26px;
}

.project h5 {
    text-align: center;
    margin: 10px 0;
    color: white;
}

.project img {
    image-rendering: pixelated;
}

.project img:hover {
    image-rendering: none;
}

footer {
    width: 800px;
    margin: 0 auto 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(47, 89, 65, 0.54);
}

.social img {
    width: 30px;
    height: 30px;
    display: inline-flex;
}

.social img:hover {
    transform: scale(1.5, 1.5);
}

.section-title h2 {
    color: #fff;
    text-shadow: 2px 2px 0px rgba(47, 89, 65, 0.54);
}