/* DEFAULT HTML ELEMENT STYLES */

@media (max-width: 1920px) {
    .columns {
        flex-direction: row;
    }
    .project {
        width: 20%;
        margin: 0 26px;
    }
    .container {
        margin: 30px 50px;
        flex-direction: row;
    }
}

@media (max-width: 688px) {
    .columns {
        flex-direction: column;
    }
    .project {
        width: 33%;
        margin: 0 auto;
    }
    .container {
        margin: 30px 20px;
        flex-direction: row;
    }
}

body {
    background-image: url("https://i.ytimg.com/vi/9TlmBmMonIc/maxresdefault.jpg");
}

body,
p,
span {
    font-family: 'Fira Code', monospace;
}

a {
    color: #2F5941;
    text-decoration: none;
}

a:hover {
    color: #80D941;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
li {
    font-family: 'Press Start 2P', monospace;
}

h1,
h2,
h3,
h4,
h5 {
    display: block;
}

img {
    display: block;
    max-width: 100%;
}

.profile {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
}

.columns {
    display: flex;
}

.tabs {
    margin: 0 0 50px 0;
    background-color: white;
    border-radius: 10px;
}

.nav {
    width: 100%;
}

ul {
    display: inline-flex;
}

li {
    margin: 20px 20px;
}

.bottom {
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
}

.column-left {
    width: 50%;
}

.column-right {
    width: 50%;
}

.columns {
    justify-content: center;
}

.project h5 {
    text-align: center;
    margin: 10px 0;
    color: white;
}

.project img {
    image-rendering: pixelated;
}

.project img:hover {
    image-rendering: none;
}

footer {
    margin: 30px 0 50px 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(47, 89, 65, 0.54);
}

.social img {
    width: 30px;
    height: 30px;
    display: inline-flex;
}

.social img:hover {
    transform: scale(1.5, 1.5);
}

.section-title {
    margin: 50px 0 10px 0;
}

.section-title h2 {
    color: #fff;
    text-shadow: 2px 2px 0px rgba(47, 89, 65, 0.54);
}

footer a {
    color: #e7ff2a;
    text-decoration: none;
}

footer a:hover {
    color: #80D941;
    text-decoration: none;
}